name: Continuous delivery to AWS EC2

on:
  workflow_run:
    workflows: [ 'CI Pipeline']
    types:
      - completed
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo apt-get install -y git

            if [ ! -d "app" ]; then
              git clone https://github.com/PedroHPeretto/url-shortener-api.git app
              cd app
            else
              cd app
              git pull origin main
            fi

            echo "${{ secrets.ENV_FILE }}" > .env

            sudo docker compose up -d --build